---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="关于我🤯是帅逼这件事" description="关于 hide-cat-cat">
  <h1>关于我🤯是帅逼这件事</h1>

<section class="card">
  <p>
    MPU大数据与物联网在读研究生；</br>
    以前调 bug，现在调 loss；</br>
    正在努力从“写页面的”进化成“训模型的”；
  </p>
  <p>
    方向是医学影像人工智能；</br>
    日常状态：看论文、跑代码、调参、怀疑人生，然后继续；</br>
    性格随和，爱开玩笑，家庭幸福，有几位朋朋友友；
  </p>
  <p class="small">
    
    <br>
    联系我：liangnan_chen@aliyun.com</br>
    地址：澳門，高美士街，澳門理工大學</br>
    Address: Macao Polytechnic University, Rua de Gomes, Macau
  </p>
</section>

</BaseLayout>
