---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="切克 NOW👿" description="Now page">
  <h1>切克 NOW👿</h1>
  <section class="card">
    <p>如果你觉得生活没意义，那就来看看我在做什么，给你找找乐趣👽</p>
    <hr />
    <p class="small">
      - 近期在想：想处大象<br />
      - 近期在读：《以日为监》<br />
      - 最近在喝：那必须~是蜜雪冰城<br />
      - 最近在听：来啊~快活啊~<br />
    </p>
  </section>
</BaseLayout>
